[Desktop Entry]
Encoding=UTF-8
Name=Gallion
GenericName=Gallion wallet
Name[uk]=Карбованeць
Name[ru]=Карбованeц
Name[pl]=Gallion
Name[be]=Карбованэць
Name[de]=Gallion
Name[es]=Gallion
Comment=Gallion wallet
Comment[uk]=Гаманець Карбованца
Comment[ru]=Кошелек Карбованца
Comment[pl]=Portfel Gallion
Comment[be]=Кашалёк Карбованца
Comment[de]=Gallion Brieftasche
Comment[es]=Gallion Monedero
Exec=gallion %U
Terminal=false
Type=Application
Icon=gallion
MimeType=x-scheme-handler/gallion;
Categories=Office;Finance;
Version=1.2.1
